.#*
.bundle
.byebug_history
.env
.idea
.yardoc
.yarn-integrity
dump.rdb
REVISION
yarn-debug.log*

/.elasticbeanstalk/*
/config/application.yml
/config/master.key
/config/settings.yml
/db/*.sqlite3
/db/*.sqlite3-journal
/doc/api/generated
/log/*
/node_modules
/public/packs
/public/packs-test
/public/uploads
/rethinkdb_data
/server
/spec/examples.txt
/tmp/*
/uploads
/yarn-error.log

!/.elasticbeanstalk/*.cfg.yml
!/.elasticbeanstalk/*.global.yml
!/log/.keep
!/tmp/.keep
