!/log/.keep
!/tmp/.keep
*.sublime-project
*.sublime-workspace
.byebug_history
/.bundle
/config/application.yml
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
/node_modules
/public/uploads/
/tmp/*
/vendor/assets/javascripts/brunch
/vendor/assets/stylesheets/brunch
rails_best_practices_output.html
