@import 'breakpoint'

.activity-collection
  margin-left: -20px
  margin-right: -20px
  position: relative

  .activity-item
    margin-bottom: 48px
    padding: 0 20px

  .activity-media
    margin-bottom: 30px
    padding: 0 20px

  +breakpoint(max-width 768px)
    .row
      display: block

  +breakpoint(768px)
    .activity-item,
    .activity-media
      float: left
      width: 50%
