@import 'breakpoint'
@import 'rails-plus/mixins/bg'
@import 'rails-plus/mixins/svg-image'

.body
  margin: 0
  min-width: 320px

  +breakpoint(1024px)
    background: #54eaca
    padding-right: 25%

    &::before
      +svg-image('browser-mockup', 1286px, 536px)
      bottom: -192px
      // content: ''
      left: 100px
      position: fixed
      top: auto
      z-index: 1

    &::after
      +bg('body')
      background-size: contain
      content: ''
      height: 125vh
      left: calc(50% + 310px)
      position: fixed
      top: 30px
      width: 300px
      z-index: 0

    > div
      position: relative
      border-left: 1px solid rgba(#000, 0.3)
      z-index: 2

  +breakpoint(1280px)
    padding-right: 35%

  +breakpoint(1440px)
    padding-right: 40%
