@import 'breakpoint'
@import 'stlr/mixins/svg-image'

.body
  margin: 0
  min-width: 320px

  +breakpoint(1024px)
    background: #f099e8
    padding-left: 25%

    &::before
      +svg-image('browser-mockup', 1286px, 536px)
      bottom: -192px
      content: ''
      left: 100px
      position: fixed
      top: auto
      z-index: 0

    > div
      position: relative
      border-left: 1px solid rgba(#000, 0.3)

  +breakpoint(1280px)
    padding-left: 35%

  +breakpoint(1440px)
    padding-left: 40%
