.fixed-section
  align-items: center
  background: #fff
  border-top: 1px solid #bbb
  bottom: 0
  display: flex
  height: 36px
  justify-content: space-between
  left: 0
  position: fixed
  width: 100%
  z-index: 10
