.frontend-welcome-section
  background: #B3FFAB
  background: linear-gradient(-45deg, #fc00ff, #00dbde), radial-gradient(at bottom right, #DBD65C, transparent)
  background-blend-mode: screen
  color: #fff
  padding: 10% 20px 10%
  padding-top: calc(#{48px + 12px} + 8%)
  padding-bottom: calc(48px + 8%)
  position: relative
  overflow: hidden
  text-shadow: 0 1px 3px rgba(#000, 0.05)

  .frontend-welcome-section__title
    font-size: 20px
    font-weight: 600
    margin-bottom: 24px

  .frontend-welcome-section__text
    font-size: 14px
    margin-bottom: 24px
    position: relative

  .frontend-welcome-section__links
    font-size: 14px
    position: relative

  .link
    color: #fff
    font-weight: 600
    text-decoration: none

    &:hover
      color: mix(#000, #fff, 5%)

    &:visited
      color: mix(#000, #fff, 5%)

      &:hover
        color: mix(#000, mix(#000, #fff, 5%), 5%)
