@import 'rails-plus/mixins/media'
@import 'rails-plus/mixins/retina-bg'

$visited: mix(#fc00ff, #1178FF, 50%)

.screen-section
  background: #fff
  display: flex
  flex-flow: column
  justify-content: center
  padding: 13% 20px 72px
  position: relative

  .screen-section__title
    font-size: 22px
    font-weight: 500
    margin-bottom: 18px

    +from(1024px)
      font-size: 32px
      line-height: 36px

  .social-grid.grid
    justify-content: flex-start
    margin-bottom: 24px

  .screen-section__text
    color: #777
    font-size: 14px
    margin-bottom: 24px
    max-width: 640px

    +from(1024px)
      font-size: 16px

    p
      margin-bottom: 12px
      margin-top: 0

      &:last-child
        margin-bottom: 0

    a
      border-radius: 1px
      display: inline-block
      margin: -0px -3px
      padding: 0px 3px

      &:hover
        background: #1178FF linear-gradient(135deg, mix(#fff, #1178FF, 20%), mix(#fff, $visited, 20%))
        color: #fff

      &:visited
        color: $visited

        &:hover
          background: $visited linear-gradient(135deg, mix(#fff, $visited, 20%), mix(#fff, $visited, 30%))
          color: #fff
