.social-section
  background: #404552
  // background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%)
  // border-bottom: 5px solid #ff0
  // border-bottom-left-radius: 20px
  // border-bottom-right-radius: 20px
  padding: 24px 0 12px

  .social-grid.grid
    justify-content: center
