@import 'sfui/mixins/font'
@import 'stlr/mixins/retina-image'

.user-media.media
  .media__aside
    margin-right: 10px

  .user-media__avatar
    +retina-image('avatar', 48px, 48px, $format: '.jpg')
    border-radius: 50%
    box-shadow: 0 1px 4px rgba(#000, 0.15)

  .user-media__name
    font-weight: 500
    line-height: 19px
    padding: 2px 0 (24px - 19px - 2px)

  .user-media__attributes
    +font(14px)
    line-height: 16px
    padding: (24px - 16px - 4px) 0 4px
