@import 'rails-plus/mixins/bg'

.user-media.media
  .media__aside
    margin-right: 10px

  .user-media__avatar
    +bg('avatar-new', $format: '.jpg', $size: cover)
    height: 60px
    width: 60px
    border-radius: 50%

  .user-media__name
    font-size: 16px
    font-weight: 500
    line-height: 24px
    padding: 4px 0 0

  .user-media__attributes
    font-size: 14px
    line-height: 21px
    padding: 4px 0 4px
