@import 'breakpoint'
@import 'sfui/mixins/font'
@import 'stlr/mixins/retina-bg'

.welcome-section
  background: #fff
  display: flex
  flex-flow: column
  justify-content: center
  min-height: 100vh
  padding: 24px 20px 72px
  position: relative

  .welcome-section__title
    +font(22px)
    font-weight: 500
    margin-bottom: 18px

    +breakpoint(1024px)
      +font(32px)
      line-height: 36px

  .welcome-section__text
    +font(14px)
    margin-bottom: 24px
    max-width: 640px

    +breakpoint(1024px)
      +font(16px)

    p
      margin-bottom: 12px
      margin-top: 0

      &:last-child
        margin-bottom: 0
