@import 'breakpoint'
@import 'sfui/mixins/font'
@import 'stlr/mixins/retina-bg'

.welcome-section
  background: #fff
  padding: 24px 20px 15%
  position: relative

  +breakpoint(768px)
    padding-top: 15%

  .welcome-section__title
    +font(22px)
    font-weight: 500
    margin-bottom: 18px

    +breakpoint(1024px)
      +font(32px)
      line-height: 36px

  .welcome-section__text
    +font(14px)
    margin-bottom: 24px
    max-width: 640px

    +breakpoint(1024px)
      +font(16px)

    p
      margin-bottom: 12px
      margin-top: 0

      &:last-child
        margin-bottom: 0
