@import 'web/bootstrap/variables'
@import 'mixins'
@import 'breakpoint-sass'

// Component

.navbar2
  background: #fff
  box-shadow: 0 10px 50px rgba(#000, 0.04)
  position: relative

// Elements

.navbar2
  .pull-left,
  .pull-right
    height: $navbar-height

  .pull-left
    text-align: left

    > :first-child
      margin-left: -15px

  .pull-right
    text-align: right

    > :last-child
      margin-right: -15px

.navbar2-image
  height: 24px
  margin: ($navbar-height - 24px) / 2 15px
  width: auto

// Modificators

.navbar2-account,
.navbar2-moderator,
.navbar2-admin
  +breakpoint(max-width 500px)
    +navbar2-breakpoint

.navbar2-guest,
.navbar2-user
  +breakpoint(max-width 550px)
    +navbar2-breakpoint
