@import "bootstrap/basical/base/mixins/gg"
@import "bootstrap/basical/base/mixins/rh"

pre
  padding: 0

  code
    display: block
    padding: rh(0.5) gg(0.5)

.hljs
  padding: rh(0.5) gg(0.5)

.cke_combo_text
  width: 80px !important

.cke_combopanel
  min-height: 228px

.textcomplete-dropdown
  height: auto !important

  img
    width: 20px
    margin-right: 10px
