@import 'web/bootstrap/variables'

section.-mockup
  background-image: radial-gradient(at top, transparent, rgba(#000, 0.4))
  color: #fff
  overflow: hidden
  padding: 10% 0 0
  text-align: center

  .mockup
    margin-bottom: -10%

section.-mockup.-without-image
  .mockup
    margin-bottom: -30%
