@mixin bg-variant($parent, $bg, $color: null) {
  #{$parent} {
    background-color: $bg;
    color: $color;
  }
  a#{$parent}:hover {
    background-color: lighten($bg, 5%);
    color: $color;
  }
}
