javascript:
  if (sessionStorage.getItem('sfui-text-loaded')) {
    document.documentElement.classList.add('sfui-text-loaded');
  }

  if (sessionStorage.getItem('sfui-display-loaded')) {
    document.documentElement.classList.add('sfui-display-loaded');
  }
