@import 'web/bootstrap/variables'
@import 'bootstrap/basical/base/mixins/rh'
@import 'mixins'

+bg-variant('.bg-body', $base-background-color, $base-color)
+bg-variant('.bg-dark', $legend-color, #d7d7d9)

.bg-stripes
  background-image: image_url('bg-stripes.png')
  background-size: 150px / 2

// hr modificators

hr,
.hr-with-title
  margin-top: 0
  margin-bottom: rh()

.hr-with-title
  position: relative
  text-align: center

  > span,
  > a
    padding: 0 5px
    position: relative
    text-transform: uppercase
    z-index: 1

  &:before
    border-top: 1px dashed $hr-border-color
    content: ''
    height: 0
    left: 0
    position: absolute
    top: 50%
    width: 100%

.text-regular
  color: $base-color

.text-muted
  color: $base-muted-color

.text-legend
  color: $legend-color

.text-white
  color: #fff

.text-inherit
  color: inherit

a.text-inherit:hover
  color: inherit
