.breadcrumbs-section
  left: 0
  position: absolute
  top: 0
  width: 100%
  text-shadow: 0 2px 3px rgba(#000, 0.1)

  .breadcrumbs
    .breadcrumb
      color: #fff

      &::after
        background: #fff
