@import 'stlr/mixins/retina-bg'
@import 'breakpoint'

.frontend-welcome-section
  background: #B3FFAB
  background: linear-gradient(-45deg, #fc00ff, #00dbde), radial-gradient(at bottom right, #DBD65C, transparent)
  background-blend-mode: screen
  color: #fff
  padding: 10% 20px 10%
  padding-top: calc(#{48px + 12px} + 8%)
  padding-bottom: calc(48px + 8%)
  text-shadow: 0 1px 3px rgba(#000, 0.05)

  .frontend-welcome-section__title
    font-size: 20px
    font-weight: bold
    margin-bottom: 24px

  .frontend-welcome-section__text
    font-size: 14px
    margin-bottom: 24px

  .frontend-welcome-section__links
    font-size: 14px

    .link
      color: #fff
      font-weight: bold
      text-decoration: none

+breakpoint(900px)
  .frontend-welcome-section
    .frontend-welcome-section__title
      font-size: 32px
      line-height: 36px

    .frontend-welcome-section__text,
    .frontend-welcome-section__links
      font-size: 16px
