<!-- START ME-TALK -->
<script type='text/javascript'>
  (function(d, w, m) {
    var s = d.createElement('script');
    s.type ='text/javascript'; s.id = 'supportScript'; s.charset = 'utf-8'; s.async = true;
    s.src = '//me-talk.ru/support/support.js?h=90c27143e5c97355158a629296ebe527';
    var sc = d.getElementsByTagName('script')[0];
    w[m] = w[m] || function() { (w[m].q = w[m].q || []).push(arguments); };
    if (sc) sc.parentNode.insertBefore(s, sc); else d.documentElement.firstChild.appendChild(s);
  })(document, window, 'MeTalk');
</script>
<!-- END ME-TALK -->
